body {
  background-color: #efece5;
  color: #3f250b;
  font-family: 'Crimson Text', serif;
}

.Players {
  list-style: none;
  margin: 0;
  padding: 1em;
  border: 1px solid #000;
  float: left;
  margin-bottom: -8em;
}

.Tile-count {
  fill: #000;
  font-size: 10px;
}
