$bg: #ebd9c1;
$bg-opacity: 0.9;
$text: #3f250b;
$white: #fff;
$black: #000;

body {
  background: linear-gradient(rgba($bg, $bg-opacity), rgba($bg, $bg-opacity)),
              url('/images/waves.svg');
  color: $text;
  font-family: 'Crimson Text', serif;
}

.Players {
  list-style: none;
  margin: 0;
  float: left;
  padding: 0;
  margin: 0 0 -8em;
  color: $white;
  text-shadow: 0 -1px 1px rgba(0,0,0,.2);
}

.Player {
  padding: .75em;
  margin: 0;
  width: 10em;
  display: flex;
  line-height: 1;
  justify-content: space-between;
  transition: width 0.1s ease;

  &--active {
    width: 11em;
  }
}

.Tile-count {
  fill: $black;
  font-size: 10px;
}
