$bg: #0B486B;
$bg-opacity: 0.9;
$text: #fff;
$white: #fff;
$black: #000;
$gray: #666;
$red: #cc241d;
$z-index-overlay: 10;
$z-index-logo: 100;

* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background: linear-gradient(rgba(mix($bg, $white, 90%), $bg-opacity), rgba($bg, $bg-opacity)),
              url('/images/waves.svg');
  color: $text;
  font-family: 'Crimson Text', serif;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1em;
}

.App {
  max-width: 60em;
  margin: 0 auto;
}

.Icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: bottom;
}

.Players {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  color: $white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .2);
}

.Player {
  padding: .75em;
  margin: 0;
  display: flex;
  line-height: 1;
  justify-content: space-between;
  transition: padding 0.1s ease;

  &-type {
    font-size: .5em;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-left: 1em;
    font-family: sans-serif;
    font-weight: normal;
    display: inline-block;
    background: rgba(0, 0, 0, .1);
    padding: .5em;
    border-radius: .25em;
  }

  &--current {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  &--inactive {
    opacity: 0.5;
  }

  .Icon {
    margin-left: .25em;
  }
}

.Tile {
  stroke: $black;
  stroke-width: 1.5;

  &-highlight {
    opacity: 0;
    fill: rgba(255,255,255,.1);

    &:hover {
      opacity: 1;
    }
  }

  &-border {
    fill: transparent;
    stroke: transparent;
    stroke-width: 0;
    transition: all .1s ease-in;

    &--major {
      stroke-width: 7;
      stroke: rgba(255, 255, 255, .4);
    }

    &--minor {
      stroke-width: 7;
      stroke: rgba(255, 255, 255, .2);
    }
  }
}
.Tile-count {
  fill: $black;
  font-size: 21px;
  cursor: default;
}

.Modal {
  background: rgba($black, .75);
  position: fixed;
  top: 0;
  width: 80%;
  left: 20%;
  z-index: $z-index-overlay;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.GameOver {
  color: $white;
  font-weight: bold;
  font-size: 3em;
  text-shadow: 0 1px 2px $black;
  pointer-events: none;
}

.Button {
  border: 0;
  padding: .5em;
  font: inherit;
  border-radius: .25em;
  color: $white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
  transition: all .1s ease-in;
  cursor: pointer;
  display: block;
  width: 100%;
  background-color: $gray;

  &:hover,
  &:focus {
    background-color: lighten($gray, 5%);
  }

  &:disabled {
    color: rgba(255, 255, 255, .5);
    cursor: not-allowed;
  }

  &--big {
    padding: .5em;
  }

  &--primary {
    background-color: $red;

    &:hover,
    &:focus {
      background-color: lighten($red, 5%);
    }
  }
}

.Logo {
  display: block;
  width: 200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: $z-index-logo;
}

.Game {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Display {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  background-color: rgba(0, 0, 0, .5);
  padding: 0 1em;

  & > * {
    margin: 1em auto;
  }
}

.Board {
  position: absolute;
  top: 0;
  left: 20%;
  width: 80%;
  height: 100%;
  padding: 1em;
}

.BorderRadio {
  &-input {
    display: none;
  }

  &-label {
    display: block;
    padding: 1em;
    border-radius: .25em;
    border: 1px solid transparent;
    margin-bottom: .5em;
    transition: all .2s ease-in;
    cursor: pointer;

    .BorderRadio-input:checked + & {
      border-color: rgba(255, 255, 255, .75);
      box-shadow: 0 0 5px rgba(255, 255, 255, .5);
      background-color: rgba(255, 255, 255, .05);
    }
  }
}

.MoveForm {
  min-width: 50%;

  &-slider {
    display: flex;
    font-size: 4em;
    text-shadow: 0 1px 3px $black;

    & > * {
      margin: .5em;
    }
  }

  &-input {
    flex-grow: 1;
    width: 100%;
  }

  &-actions {
    display: flex;
    justify-content: space-between;
    // The "Submit" button must be first in the DOM so that it’s
    // triggered on pressing [Enter], but it should appear last
    // in the row, hence the reversed order.
    flex-direction: row-reverse;

    & > * {
      margin-right: 1em;

      &:first-child {
        margin-right: 0;
      }
    }
  }
}

.NewGameForm {
  display: flex;

  & > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 2em;
  }
}
