$bg: #0B486B;
$bg-opacity: 0.9;
$text: #fff;
$white: #fff;
$black: #000;
$gray: #666;
$red: #cc241d;
$z-index-overlay: 10;
$z-index-logo: 100;

* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background: linear-gradient(rgba(mix($bg, $white, 90%), $bg-opacity), rgba($bg, $bg-opacity)),
              url('/images/waves.svg');
  color: $text;
  font-family: 'Crimson Text', serif;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1em;
}

.App {
  max-width: 60em;
  margin: 0 auto;
}

.Icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: bottom;
}

.Players {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  color: $white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .2);
}

.Player {
  padding: .75em;
  margin: 0;
  display: flex;
  line-height: 1;
  justify-content: space-between;
  transition: padding 0.1s ease;

  &-type {
    font-size: .5em;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-left: 1em;
    font-family: sans-serif;
    font-weight: normal;
    display: inline-block;
    background: rgba(0, 0, 0, .1);
    padding: .5em;
    border-radius: .25em;
  }

  &--current {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  &--inactive {
    opacity: 0.5;
  }

  .Icon {
    margin-left: .25em;
  }
}

.Board {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin proportional-box($a: 1, $b: $a) {
  position: absolute;
  top: 0;
  left: calc(40vw - #{$a/$b/2*100vh});
  width: $a/$b*100vh;
  height: 100vh;

  @media (max-aspect-ratio: 650/406) {
    top: calc(50vh - #{$b/$a/2*80vw});
    left: 0;
    width: 80vw;
    height: $b/$a*80vw;
  }
}

.Tiles {
  list-style: none;
  margin: 0;
  padding: 0;
  @include proportional-box(650, 508);
}

$tile-row-height: 8.75%;

@for $i from 1 through 11 {
  #tile_#{$i} {
    top: 0 * $tile-row-height;
    left: ((100 / 12) * ($i - 1) + (100 / 24)) * 1%;
  }
}

@for $i from 12 through 23 {
  #tile_#{$i} {
    top: 1 * $tile-row-height;
    left: ((100 / 12) * ($i - 12)) * 1%;
  }
}

@for $i from 24 through 34 {
  #tile_#{$i} {
    top: 2 * $tile-row-height;
    left: ((100 / 12) * ($i - 24) + (100 / 24)) * 1%;
  }
}

@for $i from 35 through 46 {
  #tile_#{$i} {
    top: 3 * $tile-row-height;
    left: ((100 / 12) * ($i - 35)) * 1%;
  }
}

@for $i from 47 through 57 {
  #tile_#{$i} {
    top: 4 * $tile-row-height;
    left: ((100 / 12) * ($i - 47) + (100 / 24)) * 1%;
  }
}

@for $i from 58 through 69 {
  #tile_#{$i} {
    top: 5 * $tile-row-height;
    left: ((100 / 12) * ($i - 58)) * 1%;
  }
}

@for $i from 70 through 80 {
  #tile_#{$i} {
    top: 6 * $tile-row-height;
    left: ((100 / 12) * ($i - 70) + (100 / 24)) * 1%;
  }
}

@for $i from 81 through 92 {
  #tile_#{$i} {
    top: 7 * $tile-row-height;
    left: ((100 / 12) * ($i - 81)) * 1%;
  }
}

@for $i from 93 through 103 {
  #tile_#{$i} {
    top: 8 * $tile-row-height;
    left: ((100 / 12) * ($i - 93) + (100 / 24)) * 1%;
  }
}

@for $i from 104 through 115 {
  #tile_#{$i} {
    top: 9 * $tile-row-height;
    left: ((100 / 12) * ($i - 104)) * 1%;
  }
}

@for $i from 116 through 126 {
  #tile_#{$i} {
    top: 10 * $tile-row-height;
    left: ((100 / 12) * ($i - 116) + (100 / 24)) * 1%;
  }
}

$tile-width: (100 / 12) * 1%;
$tile-height: $tile-width * 1.1547005; // ratio of circumradius to inradius

.Tile {
  position: absolute;
  width: $tile-width;
  height: $tile-height;
  transition: transform ease-in-out 0.1s;

  svg {
    fill: #fbf1c7;
    filter: drop-shadow( 0px 1px 2px rgba(0, 0, 0, .25));
  }

  &:hover {
    transform: scale(1.1);

    // svg {
    //   stroke: rgba(255,255,255,.5);
    //   stroke-width: 10px;
    //   paint-order: stroke;
    // }
  }
}

//   &-highlight {
//     opacity: 0;
//     fill: rgba(255,255,255,.1);

//     &:hover {
//       opacity: 1;
//     }
//   }

//   &-border {
//     fill: transparent;
//     stroke: transparent;
//     stroke-width: 0;
//     transition: all .1s ease-in;

//     &--major {
//       stroke-width: 7;
//       stroke: rgba(255, 255, 255, .4);
//     }

//     &--minor {
//       stroke-width: 7;
//       stroke: rgba(255, 255, 255, .2);
//     }
//   }
// }
.TileCenter {
  background-color: #aaa;
  border-radius: 50%;
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  line-height: 32px;
  border: 3px solid rgba(0,0,0,.25);
  font-weight: bold;
  font-size: 18px;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.player-bg-1 { background-color: #fb4934; }
.player-bg-2 { background-color: #b8bb26; }
.player-bg-3 { background-color: #fabd2f; }
.player-bg-4 { background-color: #458588; }
.player-bg-5 { background-color: #d3869b; }
.player-bg-6 { background-color: #fe8019; }
.player-bg-7 { background-color: #8ec07c; }
.player-bg-8 { background-color: #3c3836; }

.region-1 svg { fill: #0d2d04; }
.region-2 svg { fill: #eae2b7; }
.region-3 svg { fill: #405936; }
.region-4 svg { fill: #594e36; }
.region-5 svg { fill: #6b8471; }
.region-6 svg { fill: #e9c46a; }
.region-7 svg { fill: #9dada6; }
.region-8 svg { fill: #2f2504; }
.region-9 svg { fill: #7e846b; }
.region-10 svg { fill: #a5ae9e; }

.Modal {
  background: rgba($black, .75);
  position: fixed;
  top: 0;
  width: 80%;
  left: 20%;
  z-index: $z-index-overlay;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.GameOver {
  color: $white;
  font-weight: bold;
  font-size: 3em;
  text-shadow: 0 1px 2px $black;
  pointer-events: none;
}

.Button {
  border: 0;
  padding: .5em;
  font: inherit;
  border-radius: .25em;
  color: $white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
  transition: all .1s ease-in;
  cursor: pointer;
  display: block;
  width: 100%;
  background-color: $gray;

  &:hover,
  &:focus {
    background-color: lighten($gray, 5%);
  }

  &:disabled {
    color: rgba(255, 255, 255, .5);
    cursor: not-allowed;
  }

  &--big {
    padding: .5em;
  }

  &--primary {
    background-color: $red;

    &:hover,
    &:focus {
      background-color: lighten($red, 5%);
    }
  }
}

.Logo {
  display: block;
  width: 200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: $z-index-logo;
}

.Game {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Display {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  background-color: rgba(0, 0, 0, .5);
  padding: 0 1em;

  & > * {
    margin: 1em auto;
  }
}

.Board {
  position: absolute;
  top: 0;
  left: 20%;
  width: 80%;
  height: 100%;
  // padding: 1em;
}

.BorderRadio {
  &-input {
    display: none;
  }

  &-label {
    display: block;
    padding: 1em;
    border-radius: .25em;
    border: 1px solid transparent;
    margin-bottom: .5em;
    transition: all .2s ease-in;
    cursor: pointer;

    .BorderRadio-input:checked + & {
      border-color: rgba(255, 255, 255, .75);
      box-shadow: 0 0 5px rgba(255, 255, 255, .5);
      background-color: rgba(255, 255, 255, .05);
    }
  }
}

.MoveForm {
  min-width: 50%;

  &-slider {
    display: flex;
    font-size: 4em;
    text-shadow: 0 1px 3px $black;

    & > * {
      margin: .5em;
    }
  }

  &-input {
    flex-grow: 1;
    width: 100%;
  }

  &-actions {
    display: flex;
    justify-content: space-between;
    // The "Submit" button must be first in the DOM so that it’s
    // triggered on pressing [Enter], but it should appear last
    // in the row, hence the reversed order.
    flex-direction: row-reverse;

    & > * {
      margin-right: 1em;

      &:first-child {
        margin-right: 0;
      }
    }
  }
}

.NewGameForm {
  display: flex;

  & > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 2em;
  }
}
